.full_post {
    padding: 20px 160px;
}

.post_top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 70px;
}

.cuisine {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.info {
    gap: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
    display: flex;
}

.post_body {
    display: flex;
    gap: 50px;
}

.meal_name {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 70px;
}

#post_image {
    width: 600px;
}

.post_title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 30px;
}